<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/white/Desktop/cu-selenium-pom-example/src/main/java/Tests/AddToCart.java">
        <classes>
            <class name="Tests.AddToCart">
                <methods>
                    <include name="checkCart"/>
                </methods>
            </class>
        </classes>
    </test>

    <test verbose="2" preserve-order="true"
          name="C:/Users/white/Desktop/cu-selenium-pom-example/src/main/java/Tests/LoginTest.java">
        <classes>
            <class name="Tests.LoginTest">
                <methods>
                    <include name="loginValid"/>
                    <include name="loginInvalid"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>